.plano {
  margin: 0; }
  .plano .wrapper {
    width: 980px;
    margin: auto; }

header.main-header {
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
  height: auto;
  min-height: 240px; }
  header.main-header .top-header {
    background-color: #dd5d39;
    width: 100%;
    height: 46px;
    top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: white;
    line-height: 13px; }
    header.main-header .top-header .itens {
      padding: 10px 0;
      display: inline-block;
      text-align: center; }
    header.main-header .top-header .ciclo {
      width: 50px;
      text-transform: uppercase;
      padding-right: 13px; }
    header.main-header .top-header .periodo {
      padding: 0 13px;
      border-left: 1px solid white; }
    header.main-header .top-header .consultor {
      background-color: #e47839;
      width: 185px;
      height: auto;
      text-align: left;
      padding: 10px 13px;
      position: relative;
      cursor: pointer; }
      header.main-header .top-header .consultor .nome {
        text-transform: uppercase; }
      header.main-header .top-header .consultor .fa {
        float: right;
        font-size: 14px;
        position: absolute;
        right: 13px;
        top: 17px; }
    header.main-header .top-header nav.small-nav {
      float: right;
      display: inline-block;
      padding: 10px 0; }
      header.main-header .top-header nav.small-nav ul {
        margin: 0;
        height: 26px;
        display: table-row; }
        header.main-header .top-header nav.small-nav ul .menu-iten {
          text-transform: uppercase;
          text-decoration: none;
          display: inline-block;
          display: table-cell;
          padding: 6px 0; }
          header.main-header .top-header nav.small-nav ul .menu-iten:first-child {
            border-right: 1px solid white; }
          header.main-header .top-header nav.small-nav ul .menu-iten a {
            color: white;
            text-decoration-line: none;
            padding: 0 13px;
            display: table-cell; }
  header.main-header .header-content {
    padding: 38px 13px; }
    header.main-header .header-content .logo {
      display: inline-block; }
    header.main-header .header-content .menu-wrapper {
      float: right;
      display: inline-block;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
      header.main-header .header-content .menu-wrapper nav.aux-menu {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase; }
        header.main-header .header-content .menu-wrapper nav.aux-menu .aux-menu-wrapper {
          background-color: rgba(255, 255, 255, 0.5);
          padding: 10px 13px;
          border-radius: 5px; }
          header.main-header .header-content .menu-wrapper nav.aux-menu .aux-menu-wrapper .aux-menu-iten {
            text-decoration: none;
            display: table-cell;
            padding: 0 13px; }
            header.main-header .header-content .menu-wrapper nav.aux-menu .aux-menu-wrapper .aux-menu-iten:first-child {
              padding-left: 0;
              border-right: 1px solid black; }
            header.main-header .header-content .menu-wrapper nav.aux-menu .aux-menu-wrapper .aux-menu-iten:last-child {
              padding-right: 0;
              border-left: 1px solid black; }
            header.main-header .header-content .menu-wrapper nav.aux-menu .aux-menu-wrapper .aux-menu-iten a {
              text-decoration-line: none;
              color: black; }
      header.main-header .header-content .menu-wrapper .pedidos {
        display: inline-block;
        background-color: #e6b400;
        border: none;
        color: white;
        padding: 10px 13px;
        border-radius: 5px;
        text-transform: uppercase;
        text-decoration-line: none;
        font-size: 12px;
        float: right;
        margin-top: 11px;
        margin-left: 13px;
        font-weight: bold; }
        header.main-header .header-content .menu-wrapper .pedidos .fa {
          margin: 0 10px 0 0; }
  header.main-header nav.main-menu ul {
    margin: 0;
    padding: 0; }
    header.main-header nav.main-menu ul .main-menu-iten {
      display: table-cell;
      text-decoration: none;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
      text-align: center;
      font-size: 12px; }
      header.main-header nav.main-menu ul .main-menu-iten a {
        color: white;
        text-decoration-line: none;
        background-color: #dd5d39;
        margin: 0 2px;
        padding: 8px;
        border-radius: 5px;
        text-transform: uppercase; }

/*# sourceMappingURL=style.css.map */
